/* navbar */
h3 {
    font-weight: bold;
}
.topnav {
    overflow: hidden;
    background-color:  #9be5f3;
    margin-bottom: -20px;
    margin-top: -20px;
    border-style: solid;
    border-color: pink;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 5px;
    
  }

  .topnav.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear; 
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    z-index: 1;
  }

  #userInput {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    width: 300px;
  }
  
  .topnav a:hover {
    color: indigo;
  }
  
  .topnav a.active {
    background-color: ros;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  #lyftLogo {
    height: 100px;
    width: 110px;
    float: left;
}


#apple {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#amazon {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#windows {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#google {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#downloadIcons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

#footerPage {
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  color: midnightblue;
  text-align: center;
  position: relative;  
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-right: -14px;
}


.w3-quarter a:hover {
  color: pink;
  text-decoration-line: none;
 }

#footerTwo a:hover {
  color: pink;
  text-decoration-line: none;
}

#footerTwo {
  padding-top: 100px;
  margin-top: 50px;
  margin-right: 100px;
  position: relative;
  float: right;
}
li {
  display: inline-block;
  list-style-type: none;
 
}
h5 {
  font-weight: bold;
}

#apple {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#amazon {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#windows {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#google {
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

#downloadIcons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

#footerPage {
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  color: midnightblue;
  text-align: justify;
  position: fixed;  
  z-index: 1;
}

.w3-quarter a:hover {
  color: pink;
  text-decoration-line: none;
 }

#footerTwo a:hover {
  color: pink;
  text-decoration-line: none; 
}

#footerTwo {
  padding-top: 100px;
}
li {
  display: inline-block;
  list-style-type: none;
 
}
h5 {
  font-weight: bold;
}