<div class="w3-row w3-teal">
  <div class="w3-threequarter w3-container">
    <a routerLink=""><img id="logo" src=".././assets/img/icon_lyft.png"></a>
  </div>
  <div class="w3-quarter w3-container w3-margin-top">
    <i class="fa fa-bars fa-3x" style="float: right"></i>
  </div>
</div>
<br>
<!-- menu -->


  
<router-outlet></router-outlet>


<!-- Footer -->
<footer class="footerPage">
  <div class="w3-row w3-border">

    <div class="w3-third w3-container" id="driverDropdown">
      <span>
        <h3 onclick="dropItLow">DRIVER</h3>
      </span>
      <div class="driverContent">
        <ul>
          <li></li>
        </ul>
      </div>
    </div>








  </div>
  <!---border div -->
</footer>