/* footer page */

li {list-style-type: none;}

h5 {font-weight: bold;}

#downloadIcons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

/* Navbar */
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
.navbar-fixed-top.scrolled .nav-link {
    color:#555;
}

#navbar {
    z-index: 1;
}

#lyftLogo {
    height: 85px;
    width: 85px;
    float: left;
}

#navigation{
    background-color: #9be5f3;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin: 5px; 
}




