
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  routerLink="">Lyft</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="riders">Riders</a></li>
      <li><a routerLink="drivers">Drivers</a></li>
      <li><a routerLink="login">Log In</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
 this is a footer
</footer>