/* footerPage {

} */

li {
    list-style-type: none;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar-fixed-top.scrolled .nav-link {
    color:#555;
  }



.driverContent {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

.driverContent a:hover {
    background-color: gold;
} 

#logo {
    height: 100px;
    width: 100px;
    float: left;
}

.footerPage {
   bottom: 0;
   left: 0;
   position: absolute;
}

#navigation{
    background-color: #9be5f3;
}
