<div class="container w3-section">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Driver</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Driver Name:</label>
          <br>
          <input #newName>
        </div>

        <div>
          <label>Car:</label>
          <br>
          <input #newCar>
        </div>

        <div>
          <label>Description:</label>
          <br>
          <input #newDescription>
        </div>

        <div>
          <label>Money earned:</label>
          <br>
          <textarea #newMoney></textarea>
        </div>
        <button (click)="submitDriver(newName.value, newCar.value, newDescription.value, newMoney.value); newName.value=''; newCar.value=''; newDescription.value=''; newMoney.value='' ">Add</button>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- <app-edit-driver [selectedDriver]="drivers"></app-edit-driver> -->

<div class="container w3-section">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Rider</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Rider Name:</label>
          <br>
          <input #newName>
        </div>

        <div>
          <label>Car:</label>
          <br>
          <input #newCar>
        </div>

        <div>
          <label>Description:</label>
          <br>
          <input #newDescription>
        </div>

        <div>
          <label>Rides earned:</label>
          <br>
          <textarea #newMoney></textarea>
        </div>
        <button (click)="submitDriver(newName.value, newCar.value, newDescription.value, newMoney.value); newName.value=''; newCar.value=''; newDescription.value=''; newMoney.value=''">Add</button>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- <app-edit-rider [selectedRiders]="riders"></app-edit-rider> -->