<div class="welcomePage container">
    <span class="w3-display-middle w3-margin-right" style="color: #1850a5; font-size: 80px; font-weight: bolder;">Grab the wheel <br>
    and start earning.</span>
    <img id="lyftCenter" class="w3-display-right" src=".././assets/img/lyft_car.png">
    <br>
    <!-- <input type="radio" class="hide" id="radio-fa-check-circle-1" name="fa-check-circle" value="1" checked>
    <label for="radio-fa-check-circle-1">
      <i class="fa fa-fw fa-check-circle"></i>&nbsp;1
    </label> -->
    <p>
      This content is public for everyone!
    </p>
    
    <p *ngIf="isLoggedIn">
      Here's some bonus content for signed-in users.
    </p>