/* You can add global styles to this file, and also import other style files */
/* body {
    background-color: #9be5f3 !important;
} */

/* footer */
#apple {
    height: 150px;
    width: 150px;
    vertical-align: middle;
}

#amazon {
    height: 150px;
    width: 150px;
    vertical-align: middle;
}

#windows {
    height: 150px;
    width: 150px;
    vertical-align: middle;
}

#google {
    height: 150px;
    width: 150px;
    vertical-align: middle;
}

#downloadIcons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

#footerPage {
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
    color: midnightblue;
    text-align: justify;
    position: fixed;  
    z-index: -1;
 }

 .w3-quarter a:hover {
    color: pink;
    text-decoration-line: none;
   }

#footerTwo a:hover {
    color: pink;
    text-decoration-line: none; 
}

#footerTwo {
    padding-top: 100px;
}
 li {
    display: inline-block;
    list-style-type: none;
   
}
h5 {
    font-weight: bold;
}
/*  */